:root {
  --font: "Muli", sans-serif;
}

.body {
  background-color: #fdde7e;
}

.section {
  min-width: 200px;
  max-width: 1500px;
  margin: 200px;
  text-align: center;
  font-family: var(--font);
  justify-content: space-between;
  letter-spacing: 2px;
}

.list li {
  width: 30%;
  background-color: aliceblue;
  text-align: center;
  font-size: 30px;
  margin-left: 30px;
  border-radius: 2%;
  max-width: 360px;
}

.list li span {
  text-align: center;
}

.price {
  padding-top: 20px;
  font-size: 70px;
}

.list {
  text-align: center;
  font-size: 0px;
  display: flex;
}

.img {
  margin-top: 50px;
  margin-bottom: 40px;
  max-width: 134px;
  max-height: 135px;
}

.place {
  margin-bottom: 20px;
}

.Gold {
  min-height: 490px;
  height: 490px;
  flex-basis: 490px;
}

.Silver {
  max-height: 440px;
}

.Bronze {
  max-height: 440px;
}

.Gold-cup {
  height: 490px;
}
